.mainAbout{
    /* margin-top: -11.5px; */
    padding: 5px;
    
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s;
    /* background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);  */
}
.aboutH3{
    text-align: start;
    margin-left: 20px;
}
.aboutVision{
    display: flex;
    margin: 10px; 
   
}
.visionText{
    width: 700px; 
    padding-top: 5%; 
    margin: 4%; 
    flex-wrap: wrap; 
    text-align: justify; 
    font-size: 18px;
}
.image{
    border-radius: 5px; 
    margin-left: 15%;
    height: 550px;
    width: 410px;
}
.storyText{
    margin: 2%; 
    flex-wrap: wrap; 
    text-align: justify; 
    font-size: 17px;
}
@media only screen and (max-width: 768px){
    .mainAbout{
        margin-top: 2px;
        padding: 5px;
        animation: fadein 1.5s;
        -moz-animation: fadein 1.5s; /* Firefox */
        -webkit-animation: fadein 1.5s; /* Safari and Chrome */
        -o-animation: fadein 1.5s;
        background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); 
    }
    .aboutH3{
        text-align: start;
        margin-left: 18px;
        font-size: 16px;
    }
    .aboutVision{
        display: flex;
        margin: 8px; 
        flex-direction: column;
    }
    .visionText{
        width: 95%; 
        padding-top: 1px; 
        margin: 2.5%; 
        flex-wrap: wrap; 
        text-align: justify; 
        color:white;  
        font-size: 15px;
    }
    .image{
        border-radius: 5px; 
        margin: 5%;
        width: 85%
    }
    .storyText{
        margin: 2%; 
        flex-wrap: wrap; 
        text-align: justify; 
        color: white;
        font-size: 16px;
    }
}