.mainAfro{
    margin-top: -20px;
    /* background: url('https://i.imgur.com/4gK2YfM.jpg'); */
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s;
}
.mainAfroH2{
    color: white;
    padding-top: 10px;
}
.missionAfro{
    margin: 20px;
    font-size: 17px;
    color: rgb(18, 11, 11);
    background-color: rgba(209, 200, 200, 0.347);
    border-radius: 30px;
    padding:7.5px;
}
.mainAfroH4{
    font-family: cursive;
    font-size:20px;
    background: -webkit-linear-gradient(#eee, rgb(180, 66, 66));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}
.mainAfroH4:hover{
    transform: scale(2, 2);
    background: -webkit-linear-gradient(rgb(27, 25, 25), rgb(223, 211, 211));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}
.mainWrapDiv{
    display:flex; 
    flex-direction:column; 
    justify-content: center; 
    gap: 30px;
}
.allPrograms{
    display:flex; 
    justify-content: center;
     gap: 30px; 
     margin: 15px;
}

.description{
    float: left;
    margin: 0 auto;
    color: #fff;
    border-radius: 8px;
    width: 600px;
    height: 270px;
    box-shadow: 0px 0px 5px 15px #0e60034d;
    background-color: #10410c;
    padding: 10px 10px;
    position: absolute;
    top: 270px;
    left: 49.7%;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}
.react-player{
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    /* border: 1.5px solid green; */
    overflow: hidden;
}
.description:before{
    content: "";
    position: relative;
    left: 80px;
    top: 25px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid  transparent;

}
@media only screen and (max-width: 768px){
    .mainAfro{
        margin-top: -20px;
        background: url('https://i.imgur.com/4gK2YfM.jpg');
        animation: fadein 1.5s;
        -moz-animation: fadein 1.5s; /* Firefox */
        -webkit-animation: fadein 1.5s; /* Safari and Chrome */
        -o-animation: fadein 1.5s;
    }
    .mainAfroH2{
        color: white;
        padding-top: 8px;
        font-size: 18px;
    }
    .missionAfro{
        margin: 20px;
        font-size: 15px;
        background-color: rgba(174, 166, 166, 0.347);
        border-radius: 30px;
        padding:10px;
        color: white;
        text-align: justify;
    }
    .mainAfroH4{
        font-family: cursive;
        font-size: 20px;
        background: -webkit-linear-gradient(#eee, rgb(180, 66, 66));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
    }
    .mainAfroH4:hover{
        transform: none;
        background: -webkit-linear-gradient(rgb(27, 25, 25), rgb(223, 211, 211));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
    }
    .mainWrapDiv{
        display:flex; 
        flex-direction:column; 
        justify-content: center; 
        color: white;
    }
    .allPrograms{
        display:flex; 
        flex-direction: column;
        justify-content: center;
         margin: 10px;
    }
}
