.home{
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s;
}
.mainDivWrap{
    /* display: flex; */
}
.homeImgDiv{
    margin-left: 10px;
}
.imag{
    min-width: 93%; 
    max-height: 450px;
}
.divTextwrap{
    flex-wrap:wrap;
    padding-left: 10%;
    padding-right: 10%;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@media only screen and (max-width: 768px){
    .home{
        animation: fadein 2s;
        -moz-animation: fadein 2s; /* Firefox */
        -webkit-animation: fadein 2s; /* Safari and Chrome */
        -o-animation: fadein 2s;
    }
    .mainDivWrap{
        display: flex;
        flex-direction: column;
    }
    .homeImgDiv{
        margin-left: 4px;
        margin-right: 9px;
    }
    .imag{
        width: 350px; 
        height: 216.5px;
    }
    .divTextwraph2{
        text-align: center;
    }
    .divTextwrap{
        text-align: justify;
        flex-wrap: wrap;
        margin-top: -10px;
    }

}