.mainContainer{
 background: url('https://cdn.pixabay.com/photo/2013/12/17/20/10/bubbles-230014__340.jpg');
 background-position: center;
 background-size: 100% 100%;
 background-repeat: no-repeat;
 min-height: 100px;
 box-shadow: 0px 2px #2b2a2a;
}
.mainWrap{
    display: flex;
    justify-content: space-around; 
    gap: 10px;
    
}

.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 40px;
    height: 40px;
    background: rgba(88, 87, 87, 0.372);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
   
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 45%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}



.submenu{
    float: left;
    margin: 0 auto;
    color: black;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 10px 10px;
    position: absolute;
    top: 135px;
    left: 30.5%;
    z-index: 100;
    -webkit-filter: drop-shadow(0px 2px 4px rgba(130,130,130,1));
    filter        : drop-shadow(0px 2px 4px rgba(130,130,130,1));  
    display: flex;
    flex-wrap: wrap;
    /* color: white; */
}

.submenu::before{
  content: "";
  position: relative;
  left: 85px;
  top: -25px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
}
.linksDance{
    margin: 1.5px;
    border-radius: 6px;
    padding: 2px;
}
.linksDance:hover{
  background: rgba(7, 5, 30, 0.758);
  border-radius: 6px;
  padding: 2px;
  transition: all 1s;
}
.linksDanceEnside{
text-decoration: none;
color:rgba(0, 0, 0, 0.566);
}
.linksDanceEnside:hover{
    color: rgb(235, 237, 244);
    transition: all .5s;
}

.linksWrapper{
    text-decoration: none; 
    color: white;
    transition: all 0.7s;  
    padding: 4px;
    /* background-color: rgba(174, 174, 215, 0.601); */
}
.linksWrapper:hover{
   background-color: rgba(174, 174, 215, 0.601);
   color: black;
   border-radius: 30px;
   transition: all 0.7s;    
}
.nameWrapp{
    height: 50px;
    text-align: start; 
    margin-left: 150px; 
    padding-bottom: 3px; 
    color: white; 
    font-family: cursive;  
    transition: all 1.7s;
    font-size: 35px;
    font-weight: 500;
}
.nameWrapp2{
    height: 30px;
}



/* .nameWrapp:hover{
    text-align: end;
    transition: all 1.7s;
    color: black; 
    
} */
@media only screen and (max-width: 768px){
    .mainContainer{
        background: url('https://cdn.pixabay.com/photo/2013/12/17/20/10/bubbles-230014__340.jpg');
        box-shadow: 0px 2px #2b2a2a;
        padding: 5px;
       }
    .mainWrap{
        display: flex;
        justify-content: space-between; 
        text-align: center;
        /* padding-top: 10px; */
        font-size: 14px;  
        width: 100%;
    }
    .linksWrapper{
        text-decoration: none; 
        color: white;
        transition: all 0.7s;  
        padding: 3.3px;
        font-size: 16.5px;
    }
    .nameWrapp{
        text-align: start; 
        margin-left: 80px; 
        margin-bottom: -10px;
        color: white; 
        font-family: cursive;  
        transition: all 1.7s;
    }
    .nameWrapp:hover{
        text-align: center; 
        margin-left: -80px;
        transition: all 2.7s;
        color: black; 
        
    }
}