.mainContainer{
 background: url('https://cdn.pixabay.com/photo/2013/12/17/20/10/bubbles-230014__340.jpg');
 box-shadow: 0px 2px #2b2a2a;
}
.mainWrap{
    display: flex;
    justify-content: space-around; 
    padding-top: 10px;
    font-size: 20px;
}
.linksWrapper{
    text-decoration: none; 
    color: white;
    transition: all 0.7s;  
    padding: 3px;
}
.linksWrapper:hover{
   background-color: rgba(174, 174, 215, 0.601);
   color: black;
   border-radius: 30px;
   padding: 3px;
   transition: all 0.7s;    
}
.nameWrapp{
    text-align: start; 
    margin-left: 20px; 
    padding-bottom: 3px; 
    color: white; 
    font-family: cursive;  
    transition: all 1.7s;
}
.nameWrapp:hover{
    /* margin: 10; */
    text-align: end;
    transition: all 1.7s;
    color: black; 
    
}
@media only screen and (max-width: 768px){
    .mainContainer{
        background: url('https://cdn.pixabay.com/photo/2013/12/17/20/10/bubbles-230014__340.jpg');
        box-shadow: 0px 2px #2b2a2a;
        padding: 5px;
       }
    .mainWrap{
        display: flex;
        justify-content: space-between; 
        text-align: center;
        /* padding-top: 10px; */
        font-size: 14px;  
        width: 100%;
    }
    .linksWrapper{
        text-decoration: none; 
        color: white;
        transition: all 0.7s;  
        padding: 3.3px;
        font-size: 16.5px;
    }
    .nameWrapp{
        text-align: start; 
        margin-left: 80px; 
        margin-bottom: -10px;
        color: white; 
        font-family: cursive;  
        transition: all 1.7s;
    }
    .nameWrapp:hover{
        text-align: center; 
        margin-left: -80px;
        transition: all 2.7s;
        color: black; 
        
    }
}